.main-footer {
    min-height: 100px;
    width: 100%;
    background-color: var(--background-color);
    color: var(--secondary-color);
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: auto 0 0;
}

.main-footer .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 2;
    flex-direction: column;
}

.row a {
    color: #FFF;
    text-decoration: none;
    text-align: center;
}
.main-footer .row a {
    padding: 1.5rem;
}
.sub-footer {
    color: var(--secondary-color);
    text-align: center;
    padding-top: 5px;
    flex-grow: 1;
}

.main-footer .separator {
    width: 100%;
    height: 1px;
    color: #FFF;
    border: 1px solid;
    margin: auto;
}

@media (min-width: 768px) {
    .main-footer .row {
        flex-direction: row;
    }

    .main-footer .separator {
        min-height: 3rem;
        height: 100%;
        width: 1px;
        color: #FFF;
        border: 1px solid;
    }
    
    .main-footer .row {
        width: 60%;
    }
}